{
    "email": "",
    "apitoken": "",
    "jiraurl": "",
    "board": [
        {
            "view": "boardlist",
            "keys": [
                {
                    "name": "blcursordown",
                    "key": "j",
                    "description": "Cursor Down"
                },
                {
                    "name": "blcursorup",
                    "key": "k",
                    "description": "Cursor Up"
                },
                {
                    "name": "blselect",
                    "key": "<ENTER>",
                    "description": "Select Board"
                },
                {
                    "name": "blquit",
                    "key": "q",
                    "description": "Quit"
                }
            ]
        }
    ],
    "issue": [
        {
            "view": "issuelist",
            "keys": [
                {
                    "name": "ilcursordown",
                    "key": "j",
                    "description": "Cursor Down"
                },
                {
                    "name": "ilcursorup",
                    "key": "k",
                    "description": "Cursor Up"
                },
                {
                    "name": "ilselectissue",
                    "key": "<ENTER>",
                    "description": "Select Issue"
                },
                {
                    "name": "ileditdescription",
                    "key": "d",
                    "description": "Edit Description"
                },
                {
                    "name": "ileditstatus",
                    "key": "s",
                    "description": "Change Status"
                },
                {
                    "name": "ileditassignee",
                    "key": "a",
                    "description": "Change Assignee"
                },
                {
                    "name": "ilquit",
                    "key": "q",
                    "description": "Quit"
                }
            ]
        },
        {
            "view": "issueview",
            "keys": [
                {
                    "name": "ivcursordown",
                    "key": "j",
                    "description": "Cursor Down"
                },
                {
                    "name": "ivcursorup",
                    "key": "k",
                    "description": "Cursor Up"
                }
            ]
        },
        {
            "view": "editdesc",
            "keys": [
                {
                    "name": "edconfirm",
                    "key": "<C-s>",
                    "description": "Save Changes"
                },
                {
                    "name": "edcancel",
                    "key": "<ESCAPE>",
                    "description": "Cancel Edit"
                }
            ]
        },
        {
            "view": "editstatus",
            "keys": [
                {
                    "name": "escursordown",
                    "key": "j",
                    "description": "Cursor Down"
                },
                {
                    "name": "escursorup",
                    "key": "k",
                    "description": "Cursor Up"
                },
                {
                    "name": "esconfirm",
                    "key": "<ENTER>",
                    "description": "Set Status"
                },
                {
                    "name": "escancel",
                    "key": "<ESCAPE>",
                    "description": "Cancel"
                }
            ]
        },
        {
            "view": "editassignee",
            "keys": [
                {
                    "name": "eacursordown",
                    "key": "j",
                    "description": "Cursor Down"
                },
                {
                    "name": "eacursorup",
                    "key": "k",
                    "description": "Cursor Up"
                },
                {
                    "name": "eaconfirm",
                    "key": "<ENTER>",
                    "description": "Set Assignee"
                },
                {
                    "name": "eacancel",
                    "key": "<ESCAPE>",
                    "description": "Cancel"
                }
            ]
        }
    ]
}
